<h1 class="text-center mb-3">40K Tabletop Game Squad Constructor</h1>

<br>

<div class="PageBar">
	<a href="/">Home | </a>
	<a href="/sergeants">Admin: Sergeants | </a>
	<a href="/spacemarines">Admin: Space Marines | </a>
	<a href="/equipments">Admin: Equipments</a>
</div>

<br>

<p1>***This page is our search results page. It represents where a normal user would view results for a search for equipments

	{{headertext}}
</p1>

<br>

<h5 class="d-flex flex-row">Results</h5>
<table class="table table-hover table-dark table-striped">{{!-- SERGEANT EQIPMENT TABLE --}}
	<tbody>
		<tr>
			{{!-- <th scope="row">+/-</th> --}}
			<th scope="row">ID</th>
			<th scope="row">Name</th>
			<th scope="row">Is Sergeant Weapon</th>
			<th scope="row">Is Special Weapon</th>
			<th scope="row">Point Cost</th>
			{{!-- <th scope="row">Update</th> --}}
		</tr>
		<tr>
			<form action="/" method="post" class="py-2">
				<input type="hidden" name="id" value="{{this.id}}">
				{{!-- <td><input type="submit" name="removeSergeant" value="-" class="btn btn-primary col-md-auto"></td> --}}
				<td>{{this.id}}</td>
				{{!-- <td><input type="text" name="sergeantName" value="{{this.name}}"
						class="form-control"></td> --}}
				<td>{{this.name}}</td>
				<td>{{this.is_sergeant_weapon}}</td>
				<td>{{this.is_special_weapon}}</td>
				<td>{{this.point_cost}}</td>
				{{!-- <td><input type="submit" name="updateSergeant" value="Update"
						class="btn btn-primary"></td> --}}
			</form>
		</tr>
	</tbody>
</table>
