<h1 class="text-center mb-3">My Workouts</h1>

<h4>My Army List: {{planSubtitle}}</h4>

		<ul>
			{{!-- <form action ="/" method="post" class= "mb-4"></form>
				<input type="button" name="+" value="+List" class="btn btn-primary btn-block">
			</form> --}}
			{{!-- ARMY LIST FORM --}}
			<form action ="/" method="post" class= "mb-4">
				<div class = "d-flex flex-row">
					<div class="btn-group p-2">
						<input type="button" name="+List" value="+" class="btn">
						<input type="button" name="-List" value="-" class="btn">
					</div>
					<div class="form-group p-2">
						<input type="text" name="armyName" class="form-control" value="Army1"> {{!--army can be updated with {{}} to update w/ each new one--}}
					</div>
				</div>
			</form>
			<ul>
				{{!-- SQUAD FORM --}}
				<form action ="/" method="post" class= "mb-4">
					<div class = "d-flex flex-row">
						<div class="form-group">
							<input type="button" name="+Squad" value="+" class="btn p-2">
							<input type="button" name="-Squad" value="-" class="btn p-2">
							<input type="text" name="squadName" class="form-control p-2" value="Squad1"> {{!--squad can be updated with {{}} to update w/ each new one--}}
							<button type="button" class="btn active p-2">JumpPacks Active</button>
						</div>
					</div>
				</form>
				<ul>
					{{!-- SERGEANT --}}
					<div>SEARGENT</div>
						<ul>Sergeant stuff...</ul>
					<div>MARINES</div>
					<table class="table table-hover table-dark table-striped">
						<tbody>
							<tr>
								<th scope = "row">ID</th>
								<th scope = "row">Equipment 1</th>
								<th scope = "row">Equipment 2</th>
								<th scope = "row">Marine Total Cost</th>
							</tr>
					{{!-- MARINES --}}
							<tr>
								<form action ="/" method="post" class= "mb-4">
									<div class="form-group">
										<td>1</td>
										<td><input type="button" name="" value="bolter" class="btn"></td>
										<td><input type="button" name="-" value="swrd" class="btn"></td>
										<td>x</td>
									</div>
								</form>
							</tr>
							<tr>
								<form action ="/" method="post" class= "mb-4">
									<div class="form-group">
										<td>2</td>
										<td><input type="button" name="" value="bolter" class="btn"></td>
										<td><input type="button" name="-" value="swrd" class="btn"></td>
										<td>x</td>
									</div>
								</form>
							</tr>
						</tbody>
					</table>
				</ul>
			</ul>
		</ul>
</table>

<div class = "invisible">
<table class="table table-hover table-dark table-striped">
  <thead class="text-uppercase">
    <tr>
    	{{#each columns}}
			<th scope="col">{{this.COLUMN_NAME}}</li>
		{{/each}}
    </tr>
  </thead>
  <tbody>
  	{{#each table}}
  		<tr>
			<td hidden>{{this.id}}</td>
  			<th scope="row">{{this.name}}</th>
  			<td>{{this.reps}}</td>
  			<td>{{this.weight}}</td>
  			<td>{{this.date}}</td>
  			<td>{{this.lbs}}</td>
			<td>
				<form action ="/" method="post" class= "mb-4">
				<input hidden type="int" name="reps" class="form-control" value="{{this.id}}">
				<input type="submit" name="Edit Exercise" value="Edit Exercise" class="btn btn-primary btn-block">
				</form>
			</td>
			<td>
				<form action ="/" method="post" class= "mb-4">
				<input hidden type="int" name="reps" class="form-control" value="{{this.id}}">
				<input type="submit" name="Delete Exercise" value="Delete Exercise" class="btn btn-primary btn-block">
				</form>
			</td>
  		</tr>
	{{/each}}
	<form action ="/" method="post" class= "mb-4">
		<tr>
			<th scope="row">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" class="form-control" value="Name">
				</div>
			</th>
			<td>
				<div class="form-group">
					<label for="reps">Reps</label>
					<input type="int" name="reps" class="form-control" value="0">
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="weight">Weight</label>
					<input type="int" name="weight" class="form-control" value="00">
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="date">Date</label>
					<input type="date" name="date" class="form-control" value="2020-01-01">
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="lbs">Lbs?</label>
					<input type="int" name="lbs" class="form-control" value="lbs 0/1">
				</div>
			</td>
			<td colspan="2">
				<label for="Add Exercise"></label>
				<input type="submit" name="Add Exercise" value="Add Exercise" class="btn btn-primary btn-block">
			</td>
		</tr>
	</form>
  </tbody>
</table>

<form action ="/" method="post" class= "mb-4"></form>
	<input type="button" name="Reset Table" value="Reset Table" class="btn btn-primary btn-block">
</form>
</div>
	
	
