<h1 class="text-center mb-3">40K Tabletop Game Squad Constructor</h1>

<br>

<div class="PageBar">
	<a href="/">Home | </a>
	<a href="/sergeants">Admin: Sergeants | </a>
	<a href="/spacemarines">Admin: Space Marines | </a>
	<a href="/equipments">Admin: Equipments</a>
</div>

<br>

<p1>***This page is our main page. It represents where a normal user would construct their army list. They may add and
	Remove
	entire lists, add and remove squads from specific lists, and add or remove Space Marines from individual squads. In
	addition,
	they are able to change their Sergeants Equipments as well as their Space Marines Equipmints.

	{{headertext}}
</p1>

<br>

<h4>My Army Lists:{{subtitle}}</h4>
<ul class="list-group">
	{{#each armylists}}
	<li class="list-group-item border border-primary">
		{{!-- ARMY LIST FORM --}}
		<form action="/" method="post" class="py-2">
			<div class="form-inline row justify-content-md-left">
				<div class="btn-group col-md-auto">
					<input type="button" name="-List" value="-" class="btn btn-primary">
				</div>
				<div class="form-group  col-md-auto">
					<input type="text" name="armyName" class="form-control" value="{{this.name}}">
				</div>
				<div class=" col-md-auto">
					<div class=" col-md-auto">
						<h4>Squads: {{this.numAssaultSquads}}</h4>
					</div>
				</div>
				<div class=" col-md-auto">
					<h4>Army Total Point Cost: {{this.point_total}}</h4>
				</div>
			</div>
		</form>
		<ul class="list-group">
			{{#each this.assaultsquads}}
			<li class="list-group-item border border-secondary">
				{{!-- SQUAD FORM --}}
				<form action="/" method="post" class="py-2">
					<div class="form-inline row justify-content-md-left">
						<div class="btn-group  col-md-auto">
							<input type="button" name="-Squad" value="-" class="btn btn-primary">
						</div>
						<div class="form-group  col-md-auto">
							<input type="text" name="squadName" class="form-control" value="{{this.name}}">
						</div>
						<div class=" col-md-auto">
							{{!-- NOTE: THIS NEEDS TO SOMEHOW BE UPDATED TO REPRESENT THE ADDITION OF SERGEANTS AS WELL --}}
							<h4>Squad Members: {{this.space_marines_count}} </h4>
						</div>
						<div class=" col-md-auto">
							{{!-- NOTE: THIS NEEDS SOME BACKEND WORK TO CALCULATE THE TOTAL POINT COST PER SQUAD --}}
							<h4>Total Squad Point Cost: x</h4>
						</div>
						<div class=" col-md-auto">
							<div class="custom-control custom-switch ">
								<input type="checkbox" class="custom-control-input"
									{{#if this.hasjumppacks}}checked{{/if}} id="jumppacks">
								<label class="custom-control-label" for="jumppacks">
									<h4>Jumppacks</h4>
								</label>
							</div>
						</div>
					</div>
				</form>
				<ul class="list-group">
					{{#each this.sergeants}}
					<li class="list-group-item border border-primary">
						{{!-- SERGEANT SECTION --}}
						<div class="d-flex flex-row">
							<h5>Sergeant</h5>
						</div>
						{{!-- SERGEANT EQIPMENT TABLE --}}
						<table class="table table-hover table-dark table-striped">
							<h6>Sergeant's Equipment{{possibleSergeantWeapons}}</h6>
							
							<tbody>
								<tr>
									<th scope="row">ID</th>
									<th scope="row">Name</th>
									<th scope="row">Equipment 1</th>
									<th scope="row">Equipment 2</th>
									<th scope="row">Point Cost</th>
								</tr>
								{{!-- SERGEANT EQUIPMENT TABLE CONTENT --}}
								<tr>
									<form action="/" method="post" class="">
										<div class="form-group">
											<td>{{this.id}}</td>
											<td>{{this.name}}</td>
											{{#each this.weapons}}
											<td>
{{!-- DOES NOT WORK. SOLUTION MAY BE HERE https://gist.github.com/LukeChannings/6173ab951d8b1dc4602e --}}
{{!-- THIS MAY ALSO BE A SOLUTION, BUT IT'S NOT MY FAVORITE https://www.youtube.com/watch?v=HMehtL39VUQ --}}
												<select class="custom-select mr-sm-2" id="weaddpon1">
													<option selected>{{this.name}}</option>
													<option value="99">test</option>
													{{#each possibleSergeantWeapons}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</td>
											{{/each}}
											<td>{{this.point_cost}}</td>
										</div>
									</form>
								</tr>
							</tbody>
						</table>
						{{!-- SERGEANT SPECIAL EQUIPMENT TABLE --}}
						<table class="table table-hover table-dark table-striped">
							<h6>Sergeant's Special Equipment</h6>
							<tbody>
								<tr>
									<th scope="row">Add/Remove</th>
									<th scope="row">ID</th>
									<th scope="row">Special Equipment</th>
									<th scope="row">Point Cost</th>
								</tr>
								{{!-- SPECIAL EQUIPMENT CONTENT--}}
								{{#if this.specials}}
								<tr>
									<form action="/" method="post" class="">
										<div class="form-group">
											{{#each this.specials}}
											<td>
												<form action="/" method="post" class="">
													<div class="d-flex flex-row">
														<div class="btn-group ">
															<input type="button" name="-SpecEquip" value="-"
																class="btn btn-primary">
														</div>
													</div>
												</form>
											</td>
											<td>{{this.id}}</td>
											<td>
												<select class="custom-select mr-sm-2" id="weaddpon1">
													<option selected>{{this.name}}</option>
													<option value="99">test</option>
													{{#each possibleSpecialWeapons}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</td>
											{{/each}}
											<td>{{this.point_cost}}</td>
										</div>
									</form>
								</tr>
								{{/if}}
								<tr>
									<form action="/" method="post" class="">
										<div class="form-group">
											<td>
												<form action="/" method="post" class="">
													<div class="d-flex flex-row">
														<div class="btn-group ">
															<input type="button" name="+SpecEquip" value="+"
																class="btn btn-primary">
														</div>
													</div>
												</form>
											</td>
											<td>--</td>
											<td>
												<select class="custom-select mr-sm-2" id="weaddpon1">
													<option selected>New Special Weapon</option>
													<option value="99">test</option>
													{{#each possibleSpecialWeapons}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</td>
											<td>--</td>
										</div>
									</form>
								</tr>
							</tbody>
						</table>
					</li>
					{{/each}}
					<li class="list-group-item border border-primary">
						{{!-- Space Marines SECTION --}}
						<div class="d-flex flex-row">
							<h5>Space Marines</h5>
						</div>
						{{!-- Space Marines TABLE --}}
						<table class="table table-hover table-dark table-striped">
							<tbody>
								<tr>
									<th scope="row">Add/Remove</th>
									<th scope="row">ID</th>
									<th scope="row">Equipment 1</th>
									<th scope="row">Equipment 2</th>
									<th scope="row">Point Cost</th>
								</tr>
								{{!-- Space Marines TABLE CONTENT --}}
								{{#each this.spacemarines}}
								<tr>
									<form action="/" method="post" class="">
										<div class="form-group">
											<td>
												<form action="/" method="post" class="">
													<div class="d-flex flex-row">
														<div class="btn-group ">
															<input type="button" name="-Squad" value="-"
																class="btn btn-primary">
														</div>
													</div>
												</form>
											</td>
											<td>{{this.id}}</td>
											{{#each this.weapons}}
											<td>
												<select class="custom-select mr-sm-2" id="weapon1">
													<option selected>{{this.name}}</option>
													<option value="3">test</option>
													{{#each context.possibleSpecialWeapons}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</td>
											{{/each}}
											<td>{{this.point_cost}}</td>
										</div>
									</form>
								</tr>
								{{/each}}
								<tr>
									<form action="/" method="post" class="">
										<div class="form-group">
											<td>
												<form action="/" method="post" class="">
													<div class="d-flex flex-row">
														<div class="btn-group ">
															<input type="button" name="+Squad" value="+"
																class="btn btn-primary">
														</div>
													</div>
												</form>
											</td>
											<td>--</td>
											<td>
												<select class="custom-select mr-sm-2" id="weapon1">
													{{#each context.possibleBasicWeapons}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</td>
											<td>
												<select class="custom-select mr-sm-2" id="weapon1">
													{{#each context.possibleBasicWeapons}}
													<option value="{{this.id}}">{{this.name}}</option>
													{{/each}}
												</select>
											</td>
											<td>--</td>
										</div>
									</form>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
			</li>
			{{/each}}
			<li class="list-group-item border border-secondary">
				{{!-- SQUAD FORM --}}
				<form action="/" method="post" class="py-2">
					<div class="form-inline row justify-content-md-left">
						<div class="btn-group  col-md-auto">
							<input type="button" name="+Squad" value="+" class="btn btn-primary">
						</div>
						<div class="form-group  col-md-auto">
							<input type="text" name="squadName" class="form-control" value="New Squad Name">
						</div>
						<div class=" col-md-auto">
							<h4>Squad Members: -- </h4>
						</div>
						<div class=" col-md-auto">
							<h4>Total Squad Point Cost: --</h4>
						</div>
						<div class=" col-md-auto">
							<div class="custom-control custom-switch ">
								<input type="checkbox" class="custom-control-input" id="jumppacks">
								<label class="custom-control-label" for="jumppacks">
									<h4>Jumppacks</h4>
								</label>
							</div>
						</div>
					</div>
				</form>
			</li>
		</ul>
	</li>
	{{/each}}
	<li class="list-group-item border border-primary">
		{{!-- ADD TO ARMYLIST --}}
		<form action="/" method="post" class="py-2">
			<div class="form-inline row justify-content-md-left">
				<div class="btn-group  col-md-auto">
					<input type="button" name="+List" value="+" class="btn btn-primary">
				</div>
				<div class="form-group  col-md-auto">
					<input type="text" name="armyName" class="form-control" value="New Army Name">
				</div>
				<div class=" col-md-auto">
					<div class=" col-md-auto">
						<h4>Squads: --</h4>
					</div>
				</div>
				<div class=" col-md-auto">
					<h4>Army Total Point Cost: --</h4>
				</div>
			</div>
		</form>
	</li>
</ul>
