<h1 class="text-center mb-3">40K Tabletop Game Squad Constructor</h1>

<h4>My Army Lists: {{planSubtitle}}</h4>
		<ul>
			{{!-- ARMY LIST FORM --}}
			<form action ="/" method="post" class= "mb-4">
				<div class = "d-flex flex-row">
					<div class="btn-group p-2">
						<input type="button" name="+List" value="+" class="btn btn-primary">
						<input type="button" name="-List" value="-" class="btn btn-primary">
					</div>
					<div class="form-group p-2">
						<input type="text" name="armyName" class="form-control" value="Army1"> {{!--army can be updated with {{}} to update w/ each new one--}}
					</div>
					<div class = "p-2>"> Number of Squads: x </div>
					<div class = "p-2>"> Army Total Point Cost: x </div>
				</div>
			</form>
			<ul>
				{{!-- SQUAD FORM --}}
				<form action ="/" method="post" class= "mb-4">
					<div class = "d-flex flex-row">
						<div class="btn-group p-2">
							<input type="button" name="+Squad" value="+" class="btn btn-primary">
							<input type="button" name="-Squad" value="-" class="btn btn-primary">
						</div>
						<div class="form-group p-2">
							<input type="text" name="squadName" class="form-control" value="Squad1"> {{!--squad can be updated with {{}} to update w/ each new one--}}
						</div>
						<div class = "p-2"> Members: x/y </div>
						<div class = "p-2"> Total Squad Point Cost: x </div>
						<div class="btn-group p-2">
							<button type="button" class="btn btn-primary active">JumpPacks Active</button>
						</div>
					</div>
				</form>
				<ul>
					{{!-- SERGEANT SECTION --}}
					<div class = "d-flex flex-row">
						<div class = "p-2"><h5>Sergeant</h5> </div>
					</div>
					{{!-- SERGEANT EQIPMENT TABLE --}}
					<table class="table table-hover table-dark table-striped">
						<h6>Sergeant's Equipment</h6>
						<tbody>
							<tr>
								<th scope = "row">ID</th>
								<th scope = "row">Equipment 1 </th>
								<th scope = "row">Equipment 2 </th>
								<th scope = "row">Point Cost </th>
							</tr>
					{{!-- SERGEANT EQUIPMENT TABLE CONTENT --}}
							<tr>
								<form action ="/" method="post" class= "mb-4">
									<div class="form-group">
										<td>1</td>
										<td>
											<div class = "dropdown">
												<button type="button" name="weapon1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Weapon 1</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">sword</a>
													<a class="dropdown-item" href="#">bolter</a>
													<a class="dropdown-item" href="#">other</a>
												</div>
											</div>
										</td>
										<td>
											<div class = "dropdown">
												<button type="button" name="weapon2" value="bolter" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Weapon 2</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">sword</a>
													<a class="dropdown-item" href="#">bolter</a>
													<a class="dropdown-item" href="#">other</a>
												</div>
											</div>
										</td>
										<td>x</td>
									</div>
								</form>
							</tr>
						</tbody>
					</table>
					{{!-- SERGEANT SPECIAL EQUIPMENT TABLE --}}
					<table class="table table-hover table-dark table-striped">
						<h6>Sergeant's Special Equipment</h6>
						<tbody>
							<tr>
								<th scope = "row">Add/Remove </th>
								<th scope = "row">ID </th>
								<th scope = "row">Special Equipment </th>
								<th scope = "row">Point Cost </th>
							</tr>
					{{!-- SPECIAL EQUIPMENT CONTENT--}}
							<tr>
								<form action ="/" method="post" class= "mb-4">
									<div class="form-group">
										<td>
											<form action ="/" method="post" class= "mb-4">
												<div class = "d-flex flex-row">
													<div class="btn-group p-2">
														<input type="button" name="+SpecEquip" value="+" class="btn btn-primary">
														<input type="button" name="-SpecEquip" value="-" class="btn btn-primary">
													</div>
												</div>
											</form>
										</td>
										<td>1</td>
										<td>
											<div class = "dropdown">
												<button type="button" name="weapon1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Special Equipment</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">special sword</a>
													<a class="dropdown-item" href="#">special bolter</a>
													<a class="dropdown-item" href="#">special other</a>
												</div>
											</div>
										</td>
										<td>x</td>
									</div>
								</form>
							</tr>
						</tbody>
					</table>
					{{!-- Space Marines SECTION --}}
					<div class = "d-flex flex-row"><h5>Space Marines</h5></div>
					{{!-- Space Marines TABLE --}}
					<table class="table table-hover table-dark table-striped">
						<tbody>
							<tr>
								<th scope = "row">Add/Remove </th>
								<th scope = "row">ID </th>
								<th scope = "row">Equipment 1 </th>
								<th scope = "row">Equipment 2 </th>
								<th scope = "row">Point Cost </th>
							</tr>
					{{!-- Space Marines TABLE CONTENT --}}
							<tr>
								<form action ="/" method="post" class= "mb-4">
									<div class="form-group">
										<td>
											<form action ="/" method="post" class= "mb-4">
												<div class = "d-flex flex-row">
													<div class="btn-group p-2">
														<input type="button" name="+Squad" value="+" class="btn btn-primary">
														<input type="button" name="-Squad" value="-" class="btn btn-primary">
													</div>
												</div>
											</form>
										</td>
										<td>1</td>
										<td>
											<div class = "dropdown">
												<button type="button" name="weapon1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Weapon 1</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">sword</a>
													<a class="dropdown-item" href="#">bolter</a>
													<a class="dropdown-item" href="#">other</a>
												</div>
											</div>
										</td>
										<td>
											<div class = "dropdown">
												<button type="button" name="weapon2" value="bolter" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Weapon 2</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#">sword</a>
													<a class="dropdown-item" href="#">bolter</a>
													<a class="dropdown-item" href="#">other</a>
												</div>
											</div>
										</td>
										<td>x</td>
									</div>
								</form>
							</tr>
						</tbody>
					</table>
				</ul>
			</ul>
		</ul>
</table>

{{!-- reference code below this point --}}
<div class = "invisible">
<table class="table table-hover table-dark table-striped">
  <thead class="text-uppercase">
    <tr>
    	{{#each columns}}
			<th scope="col">{{this.COLUMN_NAME}}</li>
		{{/each}}
    </tr>
  </thead>
  <tbody>
  	{{#each table}}
  		<tr>
			<td hidden>{{this.id}}</td>
  			<th scope="row">{{this.name}}</th>
  			<td>{{this.reps}}</td>
  			<td>{{this.weight}}</td>
  			<td>{{this.date}}</td>
  			<td>{{this.lbs}}</td>
			<td>
				<form action ="/" method="post" class= "mb-4">
				<input hidden type="int" name="reps" class="form-control" value="{{this.id}}">
				<input type="submit" name="Edit Exercise" value="Edit Exercise" class="btn btn-primary btn-block">
				</form>
			</td>
			<td>
				<form action ="/" method="post" class= "mb-4">
				<input hidden type="int" name="reps" class="form-control" value="{{this.id}}">
				<input type="submit" name="Delete Exercise" value="Delete Exercise" class="btn btn-primary btn-block">
				</form>
			</td>
  		</tr>
	{{/each}}
	<form action ="/" method="post" class= "mb-4">
		<tr>
			<th scope="row">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" class="form-control" value="Name">
				</div>
			</th>
			<td>
				<div class="form-group">
					<label for="reps">Reps</label>
					<input type="int" name="reps" class="form-control" value="0">
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="weight">Weight</label>
					<input type="int" name="weight" class="form-control" value="00">
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="date">Date</label>
					<input type="date" name="date" class="form-control" value="2020-01-01">
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="lbs">Lbs?</label>
					<input type="int" name="lbs" class="form-control" value="lbs 0/1">
				</div>
			</td>
			<td colspan="2">
				<label for="Add Exercise"></label>
				<input type="submit" name="Add Exercise" value="Add Exercise" class="btn btn-primary btn-block">
			</td>
		</tr>
	</form>
  </tbody>
</table>

<form action ="/" method="post" class= "mb-4"></form>
	<input type="button" name="Reset Table" value="Reset Table" class="btn btn-primary btn-block">
</form>
</div>
	
	
