<h1 class="text-center mb-3">40K Tabletop Game Squad Constructor</h1>

<br>

<div class="PageBar">
	<a href="/">Home   |   </a>
	<a href="/sergeants">Admin: Sergeants   |   </a>
	<a href="/spacemarines">Admin: Space Marines   |   </a>
	<a href="/equipments">Admin: Equipments</a>
</div>

<br>

<p1>***Because the project requires the user to be able to INSERT / DELETE from EVERY table we have created admin
    pages. These would be inaccesible to a normal user and allow editing the SpaceMarine Table, Sergeants Table
    and Equipments Table. These tables would normally be pre-filled as we don't want users to randomly change the
    values within these tables. They represent set entities in the rules of the game and shouldn't be changed.
</p1>

<br>

<h4>Admin Page: Sergeants</h4>

<h5>Sergeants Table</h5>
<div class = "d-flex flex-row"></div>
{{!-- SERGEANTS TABLE --}}
<table class="table table-hover table-dark table-striped">
    <tbody>
        <tr>
            <th scope = "row">Add/Remove </th>
            <th scope = "row">ID </th>
            <th scope = "row">SquadID </th>
            <th scope = "row">Name</th>
            <th scope = "row">Equipment 1 </th>
            <th scope = "row">Equipment 2 </th>
            <th scope = "row">Special Equipment</th>
            <th scope = "row">Point Cost </th>
        </tr>
{{!-- DISPLAY ALL CURRENT SERGEANTS --}}
        {{#each sergeants}}
        <tr>
            <td>
                <form action ="/" method="post" class= "mb-4">
                    <div class="form-group">
                        <form action ="/" method="post" class= "mb-4">
                            <div class="btn-group col-md-auto">
                                <input type="button" name="-Squad" value="-" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </form>
            </td>
            <td>{{this.id}}</td>
            <td>{{this.assaultsquadid}}</td>
            <td>{{this.name}}</td>
            <td>{{this.equipment1}}</td>
            <td>{{this.equipment2}}</td>
            <td></td>
            <td>{{this.base_point_cost}}</td>
        </tr>
        {{/each}}
{{!-- ADD SERGEANTS --}}
        <tr>
            <form action ="/" method="post" class= "mb-4">
                <div class="form-group">
                    <td>
                        <form action ="/" method="post" class= "mb-4">
                            <div class="btn-group col-md-auto">
                                <input type="button" name="+Squad" value="+" class="btn btn-primary">
                            </div>
                        </form>
                    </td>
                    <td>--</td>
                    <td>
                        <input type="number" id="squadID" name="squadID" min="0" max="20" value = 20 class="form-control">
                    </td>
                    <td>
                        <div class="form-group ">
                            <input type="text" name="sergeantName" class="form-control" value="Sergeant1"> 
                        </div>
                    </td>
                    <td>
                        <select class="custom-select mr-sm-2" id="weapon1">
                            <option selected>Weapon1</option>
                            {{#each equipments}}
                            <option value={{equipments.equipmentsID}}>{{equipments.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <select class="custom-select mr-sm-2" id="weapon1">
                            <option selected>Weapon2</option>
                            {{#each equipments}}
                            <option value={{equipments.name}}>{{equipments.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <select class="custom-select mr-sm-2" id="weapon1">
                            <option selected>Special Weapon 1</option>
                            {{#each equipments}}
                            <option value={{equipments.name}}>{{equipments.name}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <div class="form-group ">
                            <input type="number" id="sergeantCost" name="sergeantName" min="0" max="20" value = 20 class="form-control">
                        </div>
                    </td>
                </div>
            </form>
        </tr>
    </tbody>
</table>